*.a
*.o
*~
.gdbinit
/distrib/i386/kmod-audioplay/miniroot.kmod
/distrib/i386/ramdisks/ramdisk-audioplay/*.cro
/distrib/i386/ramdisks/ramdisk-audioplay/*.cro.syms
/distrib/i386/ramdisks/ramdisk-audioplay/*.fs
/distrib/i386/ramdisks/ramdisk-audioplay/*/
/distrib/i386/ramdisks/ramdisk-audioplay/devices.*
/distrib/i386/ramdisks/ramdisk-audioplay/ramdiskbin*
/distrib/i386/ramdisks/ramdisk-audioplay/work*
/metasepi/sys/hsbuild/
GPATH
GRTAGS
GSYMS
GTAGS
obj/
